section {
    background-color: rgb(31, 30, 30);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.line {
    display: flex;
    align-items: center;
}

.texte {
    margin: 4px
}

i {
    font-size: 40px;
    margin: 10px
}


@media (max-width: 750px){
    section {
        background-color: gb(31, 30, 30);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 300px;
        height: 400px;
    }
    p {
        margin-left: 10px;
    }

    i{
        font-size: 30px;
    }
}